@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    background-repeat: no-repeat;
    background-size  : 100%;
}

section {
    background-color: black;
    background-image: url(/img/drogon.png);
    background-repeat:repeat-y;
    background-position: 30% 50%;
    display   : flex;
    flex-wrap : wrap;
    justify-content: center;
}

.titres {
    background-position: center;
}

.flex {
    display       : flex;
    flex-direction: column;
}

.personnages {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
}

.grid {
    width : 20%;
    margin: 70px 40px;
}

.grid p {
    text-align      : center;
    font-family     : "Pacifico", cursive;
    border          : rgba(29, 28, 28, 0.452) 2px solid;
    background-color: rgba(29, 28, 28, 0.63);
    color           : white;
}

.actor {
    margin: 0;
    color : white;
}

#img {
    height             : 200px;
    background-repeat  : no-repeat;
    background-position: 20% 20%;
    background-size    : 300px 250px;
    border-radius      : 40% 40% 0 0;
}



.titres {
    height             : 200px;
    background-image   : url(img/game-of-thrones-ce-que-cette-serie-culte-nous-apprend-sur-le-pouvoir-en-entreprise-960913.jpg);
    background-size    : cover;
    background-repeat  : no-repeat;
    background-position: contain;
}

#formu {
    height: 0;
}

.blason img {
    position: relative;
    top: 30px;
    height: 100px;
}

#baratheon {
    height: 100px;
}